body {
  margin: 0;
  font-family: sans-serif;
}
nav {
  background-color: #222;
  padding: 20px 1em 0px 1em;
  color: white;

  h1 {
    padding-left: 10px;
  }

  a {
    color: white;
    text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 10px;
    }

    li:hover {
      background-color: white;
      
      a {
        color: black;
      }
    }
  }
}

.note .title, .note .content {
  display: inline;
}

.note-list ul {
  padding-left: 0;

  li {
    list-style-position:inside
  }
}

#main-content {
  padding: 1em;
}
#create-note-form input {
  margin-left: 1em;
}
#create-note-form label {
  display: block;
  padding-bottom: 5px;
}

@import '../components/note-update-form/note-update-form';
